@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: normal;
    src: url('/Vazir-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(265deg, hsla(336, 100%, 52%, 1.00) 0%, hsla(242, 100%, 57.6%, 1.00) 100%);
    direction: rtl;
    font-family: vazir;
}

.header {
    margin-top: 50px;
}

#add {
    background-color: none;
    color: black;
    width: 30px;
    height: 30px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* creat form */

#cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

#card {
    background-color: #F7E7E8;
    border-radius: 20px;
    width: 100%;
    margin: 5px;
    position: relative;
    padding: 50px;
    list-style: none;
}

#btn {
    position: absolute;
    top: 25px;
    left: 40px;
}

#btnedit {
    border: 2px solid #0fdb0f;
    font-size: 20px;
    opacity: 85%;
    padding: 15px;
    border-radius: 50%;
}

#btnedit:hover {
    cursor: pointer;
}

#btndelete {
    border: 2px solid #d40808;
    font-size: 20px;
    opacity: 85%;
    padding: 15px;
    border-radius: 50%;
}

#btndelete:hover {
    cursor: pointer;
}

#information {
    padding: 50px;
    text-align: right;
}

#information>h4 {
    opacity: 75%;
}

#information>p {
    text-align: center;
    opacity: 75%;
}


/* end create form */

.serch11 {
    color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#serching {
    border-radius: 30px;
    background-color: #F7E7E8;
    margin-bottom: 10px;
    margin-top: 180px;
    border: none;
}


/* .modal1 {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    background-color: grey;
} */

.cardItemParent {
    background-color: rgb(169, 214, 229);
    margin: 5%;
    border-radius: 30px;
}

.cardItemHeader {
    background-color: rgb(44, 125, 160);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 2%;
}

.cardItemContent {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.cardItemFotter {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 4%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    vertical-align: center;
}

.cardItemFotterButton {
    width: 100%;
    height: 100%;
    vertical-align: center;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    font-size: 25px;
    padding-top: 20px;
}

.cardItemFotterRight {
    border-bottom-right-radius: 30px;
}

.cardItemFotterLeft {
    border-bottom-left-radius: 30px;
}


/* .btn-modal-edit {
    display: none;
} */